.container {
    margin: 0 auto;
    max-width: 480px;
}

.container > h1 {
        padding: 40px 0;
}

.statDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#StatLabel {
  display: none
}